@import "./src/common/Components/styles/styles";

.projects {
  @extend .particles;
  padding: 30px 15px;
  text-align: center;
  background: var(--color-background-melon);
  color: var(--color-chocolate);
  position: relative;
  .project__items {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }



}



