.projects {
    padding: 30px 15px;
    text-align: center;
    background: var(--color-background);
    color: var(--color-chocolate);
    flex-wrap: wrap;
}

.title {
    margin-bottom: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 5px;
    position: relative;
}

.title::after {
    content: '';
    position: absolute;
    background: var(--color-pumpkin);
    width: 100px;
    height: 2px;
    margin: 15px auto;
    transform: translate(-50%, 50%);
}

.project__items {
    display: flex;
    column-gap: 30px;
    /*flex-wrap: wrap;*/
}

@media screen and (max-width: 600px) {
    .project__items {
        flex-direction: column;
    }
}
