.projects {
    padding: 15px;
    margin-top: 20px;
    text-align: center;
    background: var(--color-background);
    color: var(--color-chocolate);
    flex-wrap: wrap;
}

.project__title {

}

.projects__item {
    padding: 15px;
    display: flex;
    column-gap: 30px;
}

@media (max-width: 600px) {
    .projects__item {
        flex-direction: column;
    }
}
