.skill {
    width: 350px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill__title {

}

.skill__text {
    margin-top: 10px;
    /*text-align: left;*/
}

