.skill {
  flex: 0 0 33%;
  max-width: 33%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 10px;

  .img {
    width: 100px;
    height: 100px;
  }

  .skill__title {
    color: var(--color-chocolate);
    font-size: 1.5rem;
  }

  .skill__text {
    margin-top: 10px;
    max-width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .skill {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .skill {
    flex: 0 0 100%;
    max-width: 100%;
  }
}



