.mainBlock {
  min-height: 100vh;
  background: var(--color-background-melon);
  text-align: center;

  .container {
    padding-top: 5vh;
    max-width: 100%;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 auto;

    .mainBlock__photo {
      margin-bottom: 1.5rem;

      .profilePhoto {
        width: 300px;
        border-radius: 50%;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
        padding: .5rem;
        background-color: var(--color-white);
      }
    }

    .mainBlock__text {
      font-weight: 700;
      font-size: 2.5rem;
      text-align: center;
      line-height: 1.5;
      margin-bottom: 2rem;
    }

    .location {
      font-size: 2rem;
      margin-bottom: 4rem;
    }

    .button {
      margin-bottom: 4rem;
    }
  }


}



