.mainBlock {
    height: 100vh;
    background: var(--color-background-melon);
}

.container {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    flex-wrap: wrap;
}

.mainBlock__text {
    width: 300px;
    background-color: #fff;
}

.mainBlock__photo {
    background-color: #fff;
    width: 300px;
    height: 400px;
}

