.title {
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 5px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    background: var(--color-pumpkin);
    width: 100px;
    height: 2px;
    margin: 15px auto;
    transform: translate(-50%, 50%);
  }

}




