.header {
    height: 80px;
    background-color: #f08a88;
    font-size: 1.2em;
    color: white;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav a {
    color: white;
    margin-right: 20px;
}
