.header {
    height: 80px;
    background-color: var(--color-background);
    font-size: 1.2em;
    color: var(--color-chocolate);
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav a {
    color: var(--color-chocolate);
    margin-right: 20px;
    padding: 2px 5px;
    border-radius: 10px;
}

.nav a:hover {
    box-shadow: 0 0 0 2px #e20bbe;
    transition: box-shadow 0.3s linear;
}

