.footer {
    padding: 15px;
    text-align: center;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    margin-top: 20px;
    padding: 15px;
    width: 200px;
    background-color: var(--color-background-melon);
    border-radius: 10px;
    font-size: 16px;
}

.footer__rights {

}

.footer__block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100px;
}

img {
    width: 30px;
}

.footer__contacts {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
