@import './src/common/Components/Button/Button.module';
@import "./src/common/Components/styles/styles";

.container {
  @extend .particles;
  margin: 1rem 0;
  padding: 2rem;
  text-align: center;
  font-size: 30px;
  background-color: var(--color-background-melon);
  position: relative;

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .input {
      padding: 5px 10px;
      border-radius: 10px;
      margin-top: 10px;
      max-width: 400px;
      width: 100%;
    }

    .textarea {
      padding: 10px;
      border-radius: 10px;
      max-width: 400px;
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }

    .formButton {
      @extend .btn;
    }
  }
}








