.container {
    padding: 15px;
    text-align: center;
    font-size: 30px;
    background-color: #f08a88;
}

button {
    margin-top: 20px;
    padding: 15px;
    width: 200px;
    background-color: white;
    border-radius: 10px;
    font-size: 16px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 10px;
    max-width: 400px;
}

.textarea {
    padding: 10px;
    border-radius: 10px;
    max-width: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.send {
    padding: 10px;
}

.send:hover {
    box-shadow: 0px 0px 0px 2px #e20bbe;
    transition: box-shadow 0.3s linear;
}

img {
    width: 30px;
}

.form__contacts {
    display: flex;
    column-gap: 30px;
}
