.container {
    padding: 15px;
    margin-top: 20px;
    text-align: center;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

.skills {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    .skills {

    }
}

